.dashboard-upperpart-card-activity{
  margin-left: 15px;
  width: 728px;
  height: 296px;
}


.dashboard-upperpart-card-calender{
  width: 362px;
  height: 296px;
}

.dashboard-bottompart-card-projects{
  width: 1110px;
  height: 440px;
}

.dashboard-card-container{
  margin-left: 20px
}


// bottom

.my-projects-label{
}

.dashboard-projects-container{
  padding: 30px
}

tr{
  padding:50px
}

