.project-upperpart-card-chat{
  width: 441px;
height: 280px;
margin-left: 20px
}

.project-upperpart-card-ideas{
  width: 662px;
  height: 282px;
  margin-left: 20px
}


.project-bottompart-card-payment{
  width: 441px;
  height: 210px;
  margin-left: 20px
}

.project-bottompart-card-times{
  width: 441px;
  height: 148px;
  margin-left: 20px
}

.project-bottompart-card-group{
  width: 654px;
height: 377px;
margin-left:20px
}
