<%= render 'shared/navbar' %>
<div class="flex-grow-1 backhome container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="">
          <h1 class="backhome__title__h1">create <br>
          join <br>
          gift <span class="backhome__title-yellow">together</span>
          </h1>
  </div>
    </div>
    <div class="col-6 px-0">
      <div class="backhome__image">
        <%= image_tag "Bildschirmfoto-landing page.png", class: "img-fluid img-home"%>        </div>
    </div>
  </div>


</div>
