<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check the project payments here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr class="table-light">
              <th scope="col" class="table-light__cell-radius-left fw-light project-table-heading">User</th>
              <th scope="col" class="fw-light project-table-heading">Email</th>
              <th scope="col" class="table-light__cell-radius-right fw-light project-table-heading">Status</th>
            </tr>
          </thead>
          <tbody style="border: none">
            <% @user_projects.each do |projectuser|  %>
              <tr class="dashboard__table-body fw-light">
                 <td>
                  <div class="d-flex">
                   <% if projectuser.user.photo.attached? %>
                    <%= cl_image_tag projectuser.user.photo.key, class:"avatar-admin-img" %>
                  <% end %>
                  <div><%= projectuser.user.name %></div>
                  </div>
                  </td>
                  <td><%= projectuser.user.email %></td>
                    <td class="status-container">
                      <% if projectuser.paid == true %>
                        <span class="badge custom-badge">Paid</span>
                      <% else %>
                        <span class="badge custom-badge" style="color: red">Not paid</span>
                      <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
