<div class="container-fluid">
  <div class="row flex-nowrap">
    <%= render 'shared/dashboardnav' %>
    <% if current_user == @project.user && @countdown > 0 %>
      <div class="col py-3">
        <%= render "projectstartadmin" %>
      </div>
    <% elsif current_user != @project.user && @countdown > 0  %>
      <div class="col py-3">
        <%= render "projectstartuser" %>
      </div>
    <% elsif current_user == @project.user && @countdown <= 0%>
     <div class="col py-3">
        <p>the coutndown has passed colleclt your money now</p>
      </div>
    <% else %>
      <div class="col py-3">
        <p>the countdwon has passed please pay the admin</p>
      </div>
    <% end %>
  </div>
</div>
