.logo-img-indigo{
  width: 150px
}

.bar-info{
  color: black
}

.calendar-heading{
  display:flex;
  justify-content: space-between;
  padding-right: 7px;
  padding-left: 7px;
}

.calendar-heading a {
  text-decoration: none;
}

